@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}
